<template>
  <transition-group name="toast">
    <div
      v-for="n in notifications"
      :key="n._id"
      class="border border-emerald-600 dark:border-emerald-400 bg-gray-100 dark:bg-coolGray-800 rounded shadow-lg transform transition-all w-full overflow-hidden px-4 py-2"
    >
      <div class="flex w-full flex items-center justify-between gap-x-3">
        <span
          class="font-semibold text-xs leading-tight text-black dark:text-white tracking-wide"
        >
          {{ n.title }}
        </span>

        <svg
          class="text-emerald-300 dark:text-emerald-400 w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2"
          />
        </svg>
      </div>
      <div v-if="n.text" class="text-xs text-coolGray-700">
        {{ n.text }}
      </div>
    </div>
  </transition-group>
</template>

<script setup>
import { useNotifications } from "./index.js"

export const notifications = useNotifications()
</script>

<style scoped>
.toast-enter-active,
.toast-leave-active,
.toast-move {
  transition: all 300ms ease;
}

.toast-enter-active {
  transition-delay: 300ms;
}

.toast-enter-from {
  opacity: 0;
  transform: translateY(0.25rem);
}

.toast-leave-from {
  transition-duration: 300ms;
}

.toast-leave-active {
  transition-duration: 300ms;
}

.toast-leave-to {
  opacity: 0;
  transition-duration: 300ms;
  transform: translate(4rem, 0) scale(0.8);
}

.toast-move {
  transition-duration: 300ms;
}
/*
.toast-leave-active {
  position: absolute;
}*/
</style>
