<template>
  <div class="my-8 space-y-4">
    <div
      v-for="([colorName, shadeList]) in colors" :key="colorName"
      class="flex gap-x-4 justify-center text-right"
    >
      <div class="flex-none flex w-24 items-center">
        {{ colorName }}
      </div>
      <div
        v-for="(shadeValue, shadeName) in shadeList" :key="`${colorName}-${shadeName}`"
        class="w-12 h-10 rounded text-xs p-1 flex items-end select-none"
        :class="[parseInt(shadeName, 10) >= 500 ? 'text-white' : 'text-black']"
        :style="{backgroundColor: shadeValue}"
      >
        {{ shadeName }}
      </div>
    </div>
  </div>
</template>

<script setup>
import * as defaultColors from "../tailwindColors.js";

const mapColors = ['rose', 'pink', 'fuchsia', 'purple', 'violet', 'indigo', 'blue', 'lightBlue', 'cyan', 'teal', 'emerald', 'green', 'lime', 'yellow', 'amber', 'orange', 'red', 'warmGray', 'trueGray', 'gray', 'coolGray', 'blueGray']
export const colors = getColorMap(defaultColors, mapColors);

function getColorMap(colors, colorNames) {
  const colorMap = new Map()

  colorNames.reduce((colorMap, colorName) => {
    return colorMap.set(colorName, colors[colorName])
  }, colorMap)

  return colorMap;
}
</script>
