<template>
  <div class="flex justify-end">
    <button
      class="p-2 rounded hover:text-teal-600 dark:hover:text-teal-600 transition duration-300 focus:outline-none focus:ring ring-teal-600 text-gray-700 dark:text-gray-300 dark:bg-gray-900 dark:bg-gray-100 transform hover:scale-110"
      @click="setDarkmode(!currentMode, prefersDark)"
    >

      <svg
        class="w-5 h-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          v-if="currentMode"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
        />

        <path
          v-if="!currentMode"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
        />
      </svg>
    </button>
  </div>
</template>

<script setup>
import { usePreferredDark } from '@vueuse/core'
import { ref, computed, watch } from 'vue'

export const prefersDark = usePreferredDark()
export const manualMode = ref(getPersistedMode())

export const currentMode = computed(() => {
  return manualMode.value !== null ? manualMode.value : prefersDark.value || false
})

export const setDarkmode = (darkmode, current) => {
  manualMode.value = darkmode === current ? null : darkmode

  setPersistedMode(manualMode.value)
}

function setPersistedMode(mode) {
  if(mode === true) {
    localStorage.theme = 'dark'
  } else if (mode === false) {
    localStorage.theme = 'light'
  } else {
    localStorage.removeItem('theme')
    return false
  }

  return true
}

function getPersistedMode() {
  const t = localStorage.theme || null
  return t === 'dark' ? true : t === 'light' ? false : null
}

watch(currentMode, (mode) => {
  document.documentElement.classList.toggle('dark', mode);
})
</script>
