<template>
  <div
    class="w-full h-20 xl:h-24 rounded-lg cursor-pointer group p-1"
    :class="[textClass, directionClass, ...gradientClasses]"
    @click="copyGradient"
  >
    <div class="hidden sm:block h-full bg-white bg-opacity-25 opacity-0 group-hover:opacity-90 transition-opacity duration-200 p-1 rounded">
      <div
        v-for="(gradientClass, i) in copyClasses"
        class="text-xs whitespace-nowrap overflow-hidden overflow-ellipsis"
        :key="i"
      >
        {{ gradientClass }}
      </div>
    </div>
  </div>
</template>

<script setup="props">
import { unref, computed } from 'vue'
import { useNotify } from '../notifications/index.js'

const notify = useNotify()

export const gradientClasses = unref(props.gradient).split(' ')
export const textClass = props.textClass
export const directionClass = props.directionClass
export const copyClasses = computed(() => {
  return [unref(directionClass), ...gradientClasses]
})
export const copyGradient = () => {
  const classString = copyClasses.value.join(' ');

  window.navigator.clipboard.writeText(classString).then(() => {
    notify({ type: 'copy', title: 'Gradient copied!' }, 2000)
  }).catch(err => {
    console.log({ err })
    notify({ type: 'copy', title: 'Could not copy: ', text: err.message || err }, 2000)
  })
}

export default {
  props: {
    gradient: String,
    directionClass: {
      type: String,
      default: 'bg-gradient-to-br'
    },
    textClass: {
      type: String,
      default: 'text-trueGray-900'
    }
  }
}
</script>
