<template>
  <div
    class="w-8 h-8 rounded-md cursor-pointer bg-transparent hover:border-teal-600 from-coolGray-200 to-emerald-500 hover:to-teal-600 flex items-center justify-center border-2 bg-clip-border transition transform hover:scale-110"
    :class="[isActive && 'border-emerald-500' || 'border-transparent']"
    @click="setDirection(direction)"
  >
    <svg class="w-6 h-6 transition-colors" viewBox="0 0 24 24">
      <defs>
        <linearGradient
          :id="`dir-${direction}`"
          :x1="x1"
          :x2="x2"
          :y1="y1"
          :y2="y2"
        >
          <stop offset="0%" stop-color="var(--tw-gradient-from)" />
          <stop offset="48%" stop-color="var(--tw-gradient-from)" />
          <stop offset="52%" stop-color="var(--tw-gradient-to)" />
          <stop offset="100%" stop-color="var(--tw-gradient-to)" />
        </linearGradient>
      </defs>
      <rect width="24" height="24" rx="4" :fill="`url(#dir-${direction})`" />
    </svg>
  </div>
</template>

<script setup="props">
  import { computed } from 'vue'

  const dir = (d) => props.direction.indexOf(d) >= 0;

  export const direction = props.direction
  export const isActive = computed(() => {
    return props.direction === props.activeDirection
  })

  export const x1 = computed(() => dir('r') ? 0 : 1)
  export const x2 = computed(() => dir('l') ? 0 : 1)
  export const y1 = computed(() => dir('b') ? 0 : 1)
  export const y2 = computed(() => dir('t') ? 0 : 1)

  export default {
    props: {
      direction: String,
      activeDirection: String,
      setDirection: Function
    }
  }
</script>
