<template>
  <div class="min-h-screen transition-colors dark:bg-coolGray-900 dark:text-white duration-300 overflow-hidden cursor-default">
    <div class="container mx-auto px-4 lg:px-8 pt-12 pb-6 flex flex-col items-center">
      <div class="mb-8 text-center">
        <h1 class="font-black text-2xl md:text-3xl lg:text-4xl mb-4 text-blueGray-800 dark:text-blueGray-200 transition-colors duration-300">
          Simple Tailwind Gradients
        </h1>
        <p class="text-gray-500 dark:text-gray-400 transition-colors duration-300 md:w-10/12 lg:w-8/12 xl:w-6/12 mx-auto">
          Click on a gradient to copy the classes. To work without modification the respective colors have to be added to your
          <code class="border border-coolGray-200 dark:border-coolGray-700 bg-coolGray-100 dark:bg-coolGray-800 text-emerald-600 font-mono text-sm p-1 rounded transition-colors duration-300">tailwind.config.js</code> with their original name. Check out the Tailwind
          <a
            class="text-emerald-600 hover:text-teal-600 hover:underline transition-colors duration-150"
            target="_blank"
            rel="noopener nofollow"
            href="https://tailwindcss.com/docs/customizing-colors#color-palette-reference"
          >
            color palette reference
          </a>
          for a full list.
        </p>
      </div>

      <div class="flex flex-col lg:text-base w-full md:w-10/12 lg:w-full xl:w-10/12 mx-auto justify-center md:justify-end items-center mb-4 gap-x-4 text-sm">
        <div class="gap-x-2 grid grid-cols-8">
          <GradientDirection direction="b"  :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="br" :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="r"  :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="tr" :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="t"  :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="tl" :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="l"  :activeDirection="direction" :setDirection="setDirection" />
          <GradientDirection direction="bl" :activeDirection="direction" :setDirection="setDirection" />
        </div>
      </div>

      <div class="w-full md:w-10/12 lg:w-full xl:w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-2 items-center gap-x-8 gap-y-4 xl:gap-x-8 mb-6">
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-pink-100 to-violet-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-fuchsia-300 to-indigo-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-fuchsia-500 to-purple-600" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-fuchsia-600 to-violet-800" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-purple-100 to-indigo-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-purple-300 to-indigo-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-purple-500 to-indigo-500" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-purple-500 to-blue-800" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-cyan-100 to-violet-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-cyan-200 to-indigo-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-cyan-400 to-blue-500" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-lightBlue-500 to-blue-700" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-green-100 to-teal-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-green-200 to-teal-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-green-400 to-cyan-500" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-emerald-500 to-cyan-800" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-lime-100 to-green-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-lime-200 to-green-400" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-lime-300 to-emerald-500" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-green-500 to-emerald-700" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-yellow-100 to-orange-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-amber-200 to-orange-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-yellow-400 to-orange-500" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-amber-500 to-red-600" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-orange-100 to-red-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-orange-200 to-rose-400" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-orange-400 to-pink-600" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-orange-500 to-rose-700" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-pink-100 to-red-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-pink-300 to-rose-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-pink-500 to-rose-500" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-pink-600 to-rose-800" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-blueGray-50 via-coolGray-100 to-coolGray-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-coolGray-50 to-gray-200" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-trueGray-100 via-trueGray-200 to-warmGray-300" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-black" gradient="from-coolGray-200 to-blueGray-400" />
        </GradientShowcase>
        <GradientShowcase>
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-coolGray-400 to-blueGray-600" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-coolGray-500 to-blueGray-800" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-blueGray-700 to-coolGray-900" />
          <DisplayGradient :directionClass="bgDirection" textClass="text-white" gradient="from-gray-700 to-warmGray-900" />
        </GradientShowcase>
      </div>

      <DarkmodeToggle class="mb-3" />

      <div class="text-xs flex justify-between text-blueGray-800 dark:text-blueGray-200 items-center gap-x-16">

        <a href="https://twitter.com/nullpilot" target="_blank" rel="noopener nofollow" class="opacity-50 hover:opacity-100 hover:text-teal-600 transition">
          @nullpilot
        </a>
      </div>
    </div>
  </div>
  <div class="fixed flex flex-col gap-y-2 bottom-0 right-0 m-4 pointer-events-none select-none">
    <NotificationGroup v-slot="{ notification }" />
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import DarkmodeToggle from './components/DarkmodeToggle.vue'
import GradientShowcase from './components/GradientShowcase.vue'
import DisplayGradient from './components/DisplayGradient.vue'
import NotificationGroup from './notifications/NotificationGroup.vue'
import GradientDirection from './components/GradientDirection.vue'

export const bgDirection = computed(() => {
  return ({
    'b':  'bg-gradient-to-b',
    'br': 'bg-gradient-to-br',
    'r':  'bg-gradient-to-r',
    'tr': 'bg-gradient-to-tr',
    't':  'bg-gradient-to-t',
    'tl': 'bg-gradient-to-tl',
    'l':  'bg-gradient-to-l',
    'bl': 'bg-gradient-to-bl'
  })[direction.value]
})
export const direction = ref('b')
export const setDirection = dir => {
  direction.value = dir
}

export default {
  name: 'App',
  components: {
    DarkmodeToggle,
    GradientDirection,
    GradientShowcase,
    DisplayGradient,
    NotificationGroup
  }
}
</script>
